<div class="grd mb-3 mt-3">
    <div class="itm">
        <iframe class="embed-responsive-item" style="height: 15rem; width: 21rem;"
            src="https://drive.google.com/file/d/173kxZ_tJjAYqbyKwmwaw1T9PN1PPOCZX/preview" allow="autoplay"></iframe>

    </div>
    <div class="itm">
        <iframe class="embed-responsive-item" style="height: 15rem; width: 21rem;"
            src="https://drive.google.com/file/d/1gtS3RgzK-sXNzbI6ZUC0GEEqnfVkfZkV/preview" allow="autoplay"></iframe>

    </div>
    <div class="itm">
        <iframe class="embed-responsive-item" style="height: 15rem; width: 21rem;"
            src="https://drive.google.com/file/d/1FD4WlIKy_fu2KNH50bRUTTUpXIaWVUm9/preview" allow="autoplay"></iframe>

    </div>
    <div class="itm">
        <iframe class="embed-responsive-item" style="height: 15rem; width: 21rem;"
            src="https://drive.google.com/file/d/1yaa1ghqE4d0KvhLuj2TvH4i5mkJ_5R1h/preview" allow="autoplay"></iframe>

    </div>
    <div class="itm">
        <iframe class="embed-responsive-item" style="height: 15rem; width: 21rem;"
            src="https://drive.google.com/file/d/1I_Bp_JlHGlXyLtddD5NOeaLZ_vI7ONVV/preview" allow="autoplay"></iframe>

    </div>
    <div class="itm">
        <iframe class="embed-responsive-item" style="height: 15rem; width: 21rem;"
            src="https://drive.google.com/file/d/1X7OGIvnrQwYDSEGWYNxhB6o_17jCuOif/preview" allow="autoplay"></iframe>

    </div>
</div>