<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
    <a class="navbar-brand" href="#">
        < Gyanendra Thakur />
    </a>
    <ul class="nav nav-pills">

        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3">Certifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading4">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading5">Open Source</a>
        </li>
        <li class="nav-item">
            <button class="btn btn-outline-dark drk-md">Dark Mode <i class="bi bi-moon-stars-fill"></i></button>
        </li>
    </ul>
</nav>