::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Quicksand', sans-serif !important;
  margin: 0;
  position: relative;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 40%;
}

.nav-item {
  margin-right: 1rem !important;
}

.mt-bg {
  margin-top: 4.7rem;
}

.row {
  height: 100vh;
  width: 100vb;
}

h4+p {
  font-weight: 600;
}

img {
  width: 100%;
}

.navbar-brand {
  font-family: 'Sacramento', cursive !important;
  font-size: 35px !important;
  font-weight: 500 !important;
}

.navbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 1000 !important;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly !important;
  align-items: center;
  margin: 2rem 0 4rem 0 !important;
  background-color: white!important;
}

.footer {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 90%;
  text-align: center;
  padding: 2rem;
}

.grd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}